/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /*Creating smooth scrolling anchor links when jumping from one part of html page the another point on the same page*/
html {
  scroll-behavior: smooth;
}

/*Setting standard color, font, spacing*/
body {
  background-color: #FDF9F2;
  font-family: 'Roboto', sans-serif;
}

.main-text {
  color: #212529;
}

h5 {
  line-height: 2.5rem;
}

#footer-div {
  text-align: center;
}

a {
  color: #212529;
}

* {
  box-sizing: border-box;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

nav {
  background-color: #FDF9F2;
  height: 100px;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*Adding more classes of headings, dividers, indentations*/
.divider {
  height: 1px;
  background-color: #FF885f;
}

.heading-text {
  font-size: 16px;
  color: #FF885f;
  font-weight: bolder;
}

.emphasis-text{
  font-weight: bolder;
}

.col-img {
  max-width: 100%;
}

.indented-text {
  text-indent: 2rem;
}

.takeaway-text {
  font-size: 20px;
  color: #dd5533;
  line-height: 2.5rem;
}


/*Styling on index.html*/

/*Readjusting sizes of the star icon and profile image on the index page*/
#star-icon {
  max-width: 4%;
}

#portfolio-pic {
  max-width: 35%;
}

/*Creating an underline*/
.underline {
  border-bottom: 5px solid #FFCC90;
}

/*Positioning and adjusting Parallax Scrolling images*/
img.planet-left.rellax {
  max-width: 40%;
  position: absolute;
  left: 0;
  z-index: -1;
}

img.planet-right.rellax {
  max-width: 40%;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;
}

/*Highlighting "Jesse Song" on home page*/
mark {
  background-color: #FFE0AE;
}

/*Arrow horizonatal wobble on hover*/
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*Index.html overlaying SVG and PNG using CSS Grid*/
/*styling a morphing shape for each of the projects on the home page*/
#morph1 {
  max-width: 90%;
  max-height: 90%;
  fill: #8ae2e0;
  opacity: 0.6;
  z-index: -1;  
  overflow: visible;
}

#morph2 {
  max-width: 100%;
  max-height: 100%;
  fill: #e9625b;
  opacity: 0.08;
  z-index: -1;  
  overflow: visible;
}

#morph3 {
  max-width: 100%;
  max-height: 100%;
  fill: #f0eddf;
  opacity: 0.50;
  z-index: -1;  
  overflow: visible;
}

/*Adjusting size of project photos*/
#hearsay-cover {
  max-width: 150%;
}

#submeet-cover {
  max-width: 100%;
}

#ATH-cover {
  max-width: 150%;
}

/*Overlapping Grid for Submeet*/

.overlapping-1 ul {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    max-width: 600px;
}

.overlapping-1 li:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    z-index: 2;
}

.overlapping-1 li:nth-child(2) {
    grid-row: 1 / span 3;
    grid-column: 1 / span 4;
}

/*Overlapping Grid for hearsay*/

.overlapping-2 ul {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    max-width: 600px;
}

.overlapping-2 li:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    z-index: 2;
}

.overlapping-2 li:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

/*Overlapping Grid for ATH*/

.overlapping-3 ul {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    max-width: 600px;
}

.overlapping-3 li:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    z-index: 2;
}

.overlapping-3 li:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

/*Styling in About.html*/

/*styling the headshot in about.html*/
#about-photo {
  max-width: 100%;
}

/*Adding margins to the top of the page*/
#about-section {
  padding-top: 10rem;
}

/*Creating style for email link*/
#email-text {
  color: #FF885F;
  border-bottom: 5px solid #FF885F;
  font-size: 24px;
}

#small-arrow {
  max-width: 10%;
}

#about-blob {
  max-height: 110%;
}
/*Overlapping Grid for headshot*/

.overlapping-about ul {
    display: grid;
    grid-template-columns: 4fr 4fr;
    max-width: 600px;
}

.overlapping-about li:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    z-index: 2;
}

.overlapping-about li:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

/*Styling for Submeet Project in Submeet.html*/

/*Submeet Photos*/
#user-groups {
  max-width: 50%;
}

.insight-icons{
  max-width: 80%;
}


/*Styling for ATH Project in ATH.html*/

/*ATH photo and vdeo adjustment*/
#ATH-img {
  max-width: 150%;
}

#mov-vid {
  margin-top: -10%;
}

#motion-vid {
  margin-top: -20%;
}

.stakeholder-img {
  max-width: 50%;
}

#currentState {
  max-width: 80%;
}

/*Styling for hearsay Project in hearsay.html*/
#concertgoer-img {
  max-width: 45%;
}


/*When resizing the home page, the information will be presented image first and the text*/

@media (max-width: 768px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .order-1 {
    order: 1; /* Go down, bring Box B up */
  }
  .order-2 {
    order: 2; /* Go down, bring Box B up */
  }
}










